# Dependencies
node_modules

# Build output
dist
build

# Logs
*.log

# TypeScript cache
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# IDEs and editors
.vscode
.idea
.cursor

# System Files
.DS_Store
Thumbs.db

# Coverage reports
coverage
